
<h1>{{#with (lookup members 0) as |firstMember|}}
  {{firstMember.groupName}}
{{/with}} group </h1>
<div class = "person_container">



    {{#each members}}
    <a href="/member/{{id}}">
    <div class = "person_details">

      <p>{{memberName}} <br></p> 
       <img class="image" src="/memberimgs/member{{id}}.jpg" >
    </div></a>
    

    {{/each}}

</div>

