  <h1>FaceTweet</h1>
  <div class = "person_container">
    
    
      {{#each groups}}
      <a href="/group/{{id}}">
      <div class = "person_details">
       <p>{{name}}</p> 
      </div>
      </a> 
      {{/each}}
   
     
  </div>
 

