<h1>{{#with (lookup member 0) as |firstMember|}}
  {{firstMember.memberName}}'s
{{/with}} Profile </h1>

<div class = "person_container">
    {{#each member}}
    <a href="/group/{{id}}">
      <div class = "person_details">
        
         <p> {{groupName}}</p>
         <img class = "image" src="/imgs/{{id}}.jpg" >
     </div>
    </a> 
     
    
  
   

  {{/each}}


</div>